*{
  box-sizing: border-box;
  transition: 300ms
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #EAEAEB;
}
::-webkit-scrollbar-thumb {
    background: #21252B;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.redaccent{color: #E06C75}
.yellowaccent{color: #D19A66}
.greenaccent{color: #73C990}
.purpleaccent{color: #C678DD}
.tealaccent{color:#56B6B9}
.blueaccent{color: #61AFEF}
#light {background-color: #EAEAEB}
#light .redaccent{color: #E45649}
#light .yellowaccent{color: #986801}
#light .greenaccent{color: #50A14F}
#light .purpleaccent{color: #A626A4}
#light .tealaccent{color:#009688}
#light .blueaccent{color: #4078F3}
#light #logo {filter: invert(0%)}
#light #header-image {filter: grayscale(0%)}
#light #sidebar {background-color: #EAEAEB; border-right: 1px solid #cacacd}
#light section {color: #383842}
#light section#work {background-color: #FAFAFA; color: #383842}
#light section#about {background-color: #FBFBFB; color: #383842}
#light section#contact {background-color: #FCFCFC; color: #383842}
#light #logo #medium {filter: invert(0%)}
#light .switch-wrapper {color: inherit}
#light .switch {border: 2px solid #efefef;}
#light #sidebar .active {
  background-color: #FBFBFB;
  color: #2DB448;
}
.switch-wrapper{
  position: fixed;
  z-index: 5;
  top: 0;
  margin: 5px;
  font-size: 0;
  color: #fff;
}
.switch-wrapper input {
  display:none;
}
.switch-label{
  font-size: 1rem;
  display: inline-block;
  line-height: 40px;
  vertical-align: top;
  padding: 5px 10px;
  transition: transform ease-in .2s;
  font-weight: bold;
  opacity: 0.6;
}
.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 40px;
  cursor: pointer;
  border-radius: 50px;
  border: 2px solid #222;
  background-color: #023660;
  background-image:
    radial-gradient(circle, #fff 10%, transparent 30%),
    radial-gradient(circle, #fff 10%, transparent 30%),
    radial-gradient(circle, #fff 10%, transparent 30%),
    radial-gradient(circle, #fff 10%, transparent 30%),
    radial-gradient(circle, #fff 10%, transparent 30%),
    radial-gradient(circle, #fff 10%, transparent 30%),
    radial-gradient(circle, #fff 10%, transparent 30%),
    radial-gradient(circle, #fff 10%, transparent 30%),
    radial-gradient(circle, #fff 10%, transparent 30%);
  background-size: 8% 8%, 7% 7%, 6% 6%, 8% 8%, 8% 8%, 6% 6%, 6% 6%, 8% 8%, 7% 7%;
  background-position: 20% 20%, 45% 30%, 25% 55%, 20% 90%, 40% 60%, 5% 50%, 58% 10%, 58% 60%, 50% 80%;
  background-repeat: no-repeat;
  -webkit-transition: .4s;
  transition: .4s;
  overflow: hidden;
  margin-top: 0.5vmin
}
.switch:before {
  position: absolute;
    content: "";
    height: 35px;
    width: 35px;
    top: 50%;
    right: 2px;
    cursor: pointer;
    transform: translateY(-50%);
    background-color: #ddd;
    background-image: radial-gradient(circle, #c4c4c4 50%, transparent 50%), radial-gradient(circle, #c9c9c9 50%, transparent 50%), radial-gradient(circle, #c9c9c9 50%, transparent 50%), radial-gradient(circle, #c9c9c9 50%, transparent 50%);
    background-size: 40% 40%, 25% 25%, 50% 50%, 30% 30%;
    background-position: 20% 20%, 65% 30%, 120% 100%, 20% 80%;
    box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.2);
    transition: transform ease-in .2s;
    border-radius: 50%;
    background-repeat: no-repeat;
}
input:checked ~ .switch {
  background-color: #2196F3;
  background-image:
    radial-gradient(circle, #fefefe 20%, transparent 30%),
    radial-gradient(circle, #fefefe 20%, transparent 30%),
radial-gradient(circle, #fefefe 20%, transparent 30%),
     radial-gradient(circle, #fefefe 20%, transparent 30%),
    radial-gradient(circle, #fefefe 20%, transparent 30%),
radial-gradient(circle, #fefefe 20%, transparent 30%);
  background-size: 50% 50%, 60% 60%, 40% 40%, 40% 40%, 50% 50%, 40% 40%;
  background-position: 60% 82%, 80% 80%, 82% 80%, 110% 20%, 134% 12%, 130% 20%;
  background-repeat: no-repeat;
}
input:checked ~ .switch:before{
    background-color: #ffeb3b;
    background-image: radial-gradient(circle, #ffc107 15%, #ffeb3b 100%);
    box-shadow: 0px 0px 20px 10px rgba(255, 235, 255, 0.4);
    background-size: 40% 40%, 25% 25%, 50% 50%, 30% 30%;
    background-position: 20% 20%, 65% 30%, 120% 100%, 20% 80%;
    box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.2);
}
.switch-wrapper input:checked .switch-label.day{
    transform: scale(1);
    opacity: 0.6;
}
.switch-wrapper input:checked .switch-label.night{
    transform: scale(1.1);
    opacity: 1;
}
.switch-wrapper input:checked ~ .switch:before{
  transform: translate(-60px,-50%);
}
body{
  margin: 0;
  background-color: #21252b;
  font-family: "Courier New", Courier, monospace;
}
body::before,body::after{
  background: inherit;
  content: "";
  display: block;
  position: fixed;
  width: 100%;
  z-index: 3;
  left: 0;
}
body::before{
  top:0;
  height: 55px
}
body::after{
  bottom:0;
  height: 10vmin
}
#header-image{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  background-image: url("icon/yoga.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: fixed;
  left: 1vmax;
  right: 1vmax;
}
header{
  height: 100vh;
  position: relative;
  background-color: #282c34;
  margin: 0 1vmax;
}
.header-overlay{
  background-color: black;
  opacity: 0.5;
  position: fixed;
  height: 100vh;
  left: 1vmax;
  right: 1vmax;
}
.header-text{
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  position: fixed;
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
header h1{
  margin: 5px;
  font-size: 3.5em;
  font-weight: 300;
}
header h2{
  font-style: italic;
  font-weight: 100;
  opacity: 0.75;
  margin: 0;
  width: 1.5em;
  width: 24ch;
  white-space: nowrap;
  overflow: hidden;
  animation: type 4s steps(25, end);
}
header #logo{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 5;
  display: flex;
  width: 50vw;
  height: 10vmin;
  justify-content: space-evenly;
  align-items: center;
  filter: invert(100%);
}
header #logo img{
  height: 5vmin;
}
#logo #medium{
  filter: invert(100%);
}
section{
  min-height: 100vh;
  position: relative;
  background-color: #282C34;
  color: #D7DAE0;
  margin: 0 1vmax;
  transition: 200ms;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1em;
}
#sidebar{
  height: calc(100vh - (55px+10vmin));
  width: 30vw;
  background-color: #21252b;
  border-right: 1px solid #18181f;
  position: relative;
  z-index: 2;
  padding: 1vmax 0 10vmin 0;
  display: grid;
  text-align: center;
  align-items: center;
  list-style: none;
}
#sidebar.fixed {
  position: fixed;
  top: 55px;
}
#sidebar li{
  padding: 2.5vmin;
  font-size: 5vmin;
  font-family: 'Open Sans', sans-serif;
  color: #6B717D
}
#sidebar li a {
  text-decoration:none;
  color:inherit
}
#sidebar .active {
  background-color: #282c34;
  color: #7CC379;
}
.sites{
  grid-column: 2;
  font-size: 1.5em;
}
.sites li a {
  color: inherit;
  text-decoration: none;
}
.sites li a:hover, .writes a:hover {
  text-decoration: underline;
}
.sites li p, .writes p {
  font-size: 0.7em;
  margin-top: 0.2em;
}
.writes{
  grid-column: 3;
  font-size: 1.5em;
}
.writes a {
  text-decoration: none;
} 
#contact, #about {
  align-items: center;
}
#about{
  background-color: #282d37;
}
.abouttext, .contacttext{
  grid-column: 2/4;
  color: inherit;
  font-size: 1.5em;
  padding-right: 1em;
}
.abouttext a{
  text-decoration: underline;
}
#contact{
  background-color: #292f3b;
}
@media only screen and (max-width:660px){
  #sidebar{
    width: 100%;
    height: fit-content;
    left: 0;
    border: none;
  }
  #sidebar li{
    opacity: 0;
    position: absolute;
    width: 100%;
    background-color: inherit;
    color: #73C990;
    padding: 1vmin;
    transition: .3s;
  }
  #light #sidebar .active {
    opacity: 1;
    background-color: inherit;
  }
  #sidebar .active {
    opacity: 1;
    background-color: inherit;
  }
  section{
    min-height: 100vh;
    height: auto;
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    grid-template-columns: 100%;
    padding: 2vmin 2vmax;
  }
  #contact, #about {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sites{
    grid-column: 1;
    grid-row: 1
  }
  .border{
    width: 65vw;
    height: 30vh
  }
  .under{
    width: 65vw;
    height: 10vh;
  }
  .writes{
    grid-column: 1;
    grid-row: 2
  }
  .abouttext{
    grid-column: 1;
    grid-row: 1/3
  }
  .contacttext{
    grid-column: 1;
    grid-row: 1/3
  }
}
@keyframes type{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}