:root
{
    --base03: #002b36;
    --base02: #073642;
    --base01: #586e75;
    --base00: #657b83;
    --base0: #839496;
    --base1: #93a1a1;
    --base2: #eee8d5;
    --base3: #fdf6e3;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
}

html
{
    background: var(--base03);
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
    color: var(--base0);
    line-height: 1.6;
}

.yellow  { color: var(--yellow);  }
.orange  { color: var(--orange);  }
.red     { color: var(--red);     }
.magenta { color: var(--magenta); }
.violet  { color: var(--violet);  }
.blue    { color: var(--blue);    }
.cyan    { color: var(--cyan);    }
.green   { color: var(--green);   }

::selection 
{
    background-color: rgba(0, 0, 0, 0.4);
}

body
{
    margin: 20px;
}

h1, h2, h3, h4
{
    font-size: 1rem;
    color: var(--base1);
}

h1.yellow
{
    -webkit-animation: fade-in 0.4s ease;
    animation: fade-in 0.4s ease;
    opacity: 0;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

a
{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

header
{
    padding: 200px 0px 100px;
    max-width: 1000px;
    margin: auto;
}

header p
{
    max-width: 560px;
    color: var(--base01);
}

header p .done
{
    color: var(--base1);
}

#grid
{
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-gap: 20px;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 100px;
}

#edu
{
    grid-column-start: 1;
    grid-column-end: 2;
    -webkit-animation-delay: 2s;	
    animation-delay: 2s;
}

#work
{
    grid-column-start: 2;
    grid-column-end: 4;
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s;

}

#proj
{
    grid-column-start: 1;
    grid-column-end: 3;
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

#pass
{
    grid-column-start: 3;
    grid-column-end: 4;
    -webkit-animation-delay: 2.8s;
    animation-delay: 2.8s;
}

section
{
    background: var(--base02);
    padding: 10px 30px;
    padding-left: 1rem;
    border-radius: 4px;
    counter-reset: line;
    position: relative;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    
    animation-name: float;
    opacity: 0;
}

section li:before
{
    counter-increment: line;
    content: counter(line);
    display: block;
    position: absolute;
    left: 0;
    opacity: 0.3;
    margin-left: 1rem;
}

ul
{
    list-style: none;
}

ul.resume-list
{
    list-style: square;
}

@-webkit-keyframes float
{
    from
    {
        opacity: 0;
        -webkit-transform: translateY(100px);
	-ms-transform: translateY(100px);
        transform: translateY(100px);
    }
    
    to
    {
        opacity: 1;
        -webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@-webkit-keyframes fade-in
{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}


@keyframes float
{
    from
    {
        opacity: 0;
        -webkit-transform: translateY(100px);
	-ms-transform: translateY(100px);
        transform: translateY(100px);
    }
    
    to
    {
        opacity: 1;
        -webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes fade-in
{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@media screen and (max-width: 800px)
{
    header
    {
        padding: 80px 0px;
    }
    
    #grid
    {
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        padding-bottom: 80px;
    }
    
    #edu, #work, #proj, #pass
    {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}
