:root {
  --bento-blue: #02576c;
  --bento-darkgreen: #27a87f;
  --bento-medgreen: #4dd599;
  --bento-limegreen: #cff52a;
  --bento-yellow: #ffee61;
  --bento-darkgray: #495057;
  --bento-highlight: var(--bento-medgreen);
}

* {
  margin: 0;
}

html {
  background-color: var(--bento-blue);
  /* background: linear-gradient(#27a87f, #cff52a); */
}

body {
  /* background-color: var(--bento-highlight); */
  background: linear-gradient(#27a87f, #cff52a);
  padding: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: #999;
}

#page-content {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 16px);
  background-color: white;
}

header {
  min-height: 90vh;
  margin: 0 !important;
}

#intro-visual figure {
  margin-right: 3rem;
}

#intro-visual img {
  max-width: 300px;
}

p {
  margin-bottom: 15px;
}

#intro-text a {
  font-weight: bolder;
  color: var(--bento-highlight);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #999;
  /* border-top: 1px solid var(--bento-highlight); */
  margin: 1em 0;
  padding: 0;
}

main hr,
footer hr {
  width: 40%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section .column {
  padding: 2rem;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bento-logo {
  max-width: 450px;
}

#bento .level {
  justify-content: center;
}
#bento a {
  flex-grow: 0;
  background-color: var(--bento-medgreen);
  color: white;
  border: none;
  transition: background-color 0.15s ease-out;
}

#bento a:hover {
  background-color: var(--bento-darkgreen);
  transition: background-color 0.15s ease-in;
}

.project {
  display: flex;
  margin-bottom: 1.5rem;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.project > * {
  padding: 1rem;
}

.project img {
  box-shadow: 0 0 25px #d2d7d3;
  border-radius: 5px;
}

.social-links span {
  font-size: 3rem;
  margin: 0 1rem;
}

header .social-links {
  display: flex;
}

header .social-links span {
  font-size: 1.5rem;
}

.social-links.level {
  justify-content: center;
}

.social-links a {
  color: #999;
}

.social-links a:hover {
  color: var(--bento-highlight);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
